section {
    padding: 0.5rem;
    margin: 0.5rem;
    article {
        border-radius: 5px;
        span {
            display: inline-block;
            margin: 1rem 0 0 1rem;
            padding: 0.25rem;
            border-radius: 5px;
        }
        &.John {
            border: 2px solid var(--secondary-color);
            span {
                background-color: var(--secondary-color);
            }
        }
        &.Amy {
            border: 2px solid var(--primary-color);
            span {
                background-color: var(--primary-color);
            }
        }
        p {
            display: flex;
            flex-direction: column;
            line-height: 140%;
            margin: 0;
            padding: 1rem;
            span {
                width: fit-content;
                padding: 0.25rem 0.5rem;
                margin: 0.5rem;
                border-radius: 5px;
            }
        }
    }
}

// Sound level
.low {
    p {
    }
    span {
    }
}
.normal {
    p {
    }
    span {
    }
}
.high {
    p {
    }
    span {
    }
}

// Emotion
.verdriet {
    p {
        font-family: 'Short Stack', cursive;
        line-height: 5;
        font-size: 0.8rem;
        padding: 2rem;
    }
    span {
    }
}
.angst {
    p {
        font-family: 'Short Stack', cursive;
        font-weight: 200;
        line-height: 0.7;
        font-size: 0.75rem;
        padding: 3rem;
    }
    span {
    }
}
.blijdschap {
    p {
        font-family: 'Comic Sans MS', 'Comic Sans';
        font-size: 1.2rem;
        line-height: 0.95;
    }
    span {
    }
}
.boosheid {
    p {
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 1.2;
    }
    span {
    }
}
.serieus {
}
