//- index.pug
extends ./layout/layout.pug

block content
    section
        each section in text
            article 
                p(class=section.emotion + ' ' + section.sound_level)
                    span(class="speaker")= section.speaker
                    = section.text
                
        

