//- index.pug
extends ./layout/layout.pug

block content
    section
        each section in text
            section 
                article(class=section.emotion + ' ' + section.sound_level + ' ' + section.speaker)
                    span(class="speaker")= section.speaker + ' - ' + section.emotion
                    p= section.text
                
        

